// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
@mixin transition($params) {
  -webkit-transition: $params;
     -moz-transition: $params;
   -khtml-transition: $params;
       -o-transition: $params;
          transition: $params;
}

@mixin scale($params) {
  -webkit-transform: scale($params);
     -moz-transform: scale($params);
   -khtml-transform: scale($params);
       -o-transform: scale($params);
          transform: scale($params);
}

@mixin box-shadow($params) {
  -webkit-box-shadow:$params;
     -moz-box-shadow:$params;
   -khtml-box-shadow:$params;
       -o-box-shadow:$params;
          box-shadow:$params;
}

@mixin rotate($params) {
  -webkit-transform: rotate($params);
     -moz-transform: rotate($params);
   -khtml-transform: rotate($params);
       -o-transform: rotate($params);
          transform: rotate($params);
}

@mixin opacity($opacity) {
  -webkit-opacity:$opacity;
     -moz-opacity:$opacity;
   -khtml-opacity:$opacity;
       -o-opacity:$opacity;
          opacity:$opacity;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
   -khtml-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
.fixPosition{
  
.site-header{
  
   
 
    .header-top{
      display: none;
    }
    .navbar-brand img{
      width: 45px;
      transition: all 0.5s $cubic;
    }
    .navar{
       transition: all 0.5s $cubic;
    }
  }
}
.logoImg{
  transition: all 0.5s $cubic;
}
.navar{
  transition: all 0.5s $cubic;
}
 
#hero{
  margin-top: 177px;
}
.site-header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: white;
}
.burgerBtn {
  border-top:2px solid #f85051;
  height:25px;
  width:30px;
  box-sizing:border-box;
  position: fixed;
  z-index:30;
  right:20px;
  top:30px;
  cursor:pointer;
  @include transition(all 1s cubic-bezier(0.4, 0.01, 0.165, 0.99));
  &:before {
    content:"";
    display:block;
    position:absolute;
    height:2px;
    width:30px;
    left:0;
    background:#f85051;
    top:10px;
    @include transition(all 1s cubic-bezier(0.4, 0.01, 0.165, 0.99));
  }
  &:after {
    content:"";
    display:block;
    position:absolute;
    height:2px;
    width:30px;
    left:0;
    background:#f85051;
    bottom:0;
    @include transition(all 1s cubic-bezier(0.4, 0.01, 0.165, 0.99));
    // transition: all 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
}





  